

.HomePageImgs {

    h1 {
        text-align: center;
        font-size: 3.5rem;
        letter-spacing: 1px;
        margin: 60px 0 0 0;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
    }

    .CTA-Links {
       display: flex;
       justify-content: center;
       padding: 20px;

       li {
           padding: 15px 55px;
           border: 1px solid #FFF;
           font-size: 1.3rem;
           font-family: 'Lato', sans-serif;
           text-align: center;
       }

       .active {
           background: #2F64B0;
           opacity: .9;
       }

       li:nth-of-type(4){
           padding: 15px 25px;
       }

       a {
           text-decoration: none;
           color: #fff;
       }

       li:hover {
           opacity: .8;
           background: #2F64B0;
       }
        
    }

    .searchForm {
        display: flex;
        justify-content: center; 

        .arrow-up {
            position: absolute;
            top: 350px;
            left: 490px;
            width: 0; 
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid #fff;
        }

        input[type=text] {
            width: 565px;
            padding: 20px 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 1.1rem;
        }

        .search-button{
            position: absolute;
            top: 370px;
            right: 425px;
            width: 100px;
            padding: 10px 20px;
            border-radius: 8px;
            background: #4B8FE2;
            color: #fff;
            font-size: 1.2rem;
            
        }
    }

    .banner {
        display: flex;
        justify-content: flex-start;
        margin: 250px 0 0 0;
        height: 60px;
        background: #263857;
        opacity: .9;

        .fa-users {
            color: #FFF;
            margin: 15px 20px 0 80px;
        }

        h4 {
            color: #FFF;
            margin: 20px 0 0 0;
            font-family: 'Lato', sans-serif;
            font-size: 1.2rem;
        }

        .get-started-Btn {
            margin: 10px 120px 0 auto;
            padding: 10px;
            border-radius: 8px;
            background: #2C74DC;
            font-size: 1rem;
            height: 40px;
            border: none;

            a {
                text-decoration: none;
                color: #fff;
            }
        }
        .get-started-Btn:hover {
            background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top, #1e5799 61%, #1f71a8 98%, #7db9e8 99%, #0283e5 100%, #0082e5 101%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1e5799 61%,#1f71a8 98%,#7db9e8 99%,#0283e5 100%,#0082e5 101%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1e5799 61%,#1f71a8 98%,#7db9e8 99%,#0283e5 100%,#0082e5 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    }
}

